*{font-family:Verdana;
padding: 20px;
margin:15px;
background-color:lightgray;
}
.forImg{border-radius=15px;
position:relative;
width:450px;
height:350px;
  text-align:center;
}
h1{font-size:18px;
text-align:center;
font-weight:bold;
}
h3{  font-size:16px;
text-align:center;
font-weight:bold;
}
h4{font-size:16px;
text-align:center;
font-weight:bold;
}
.forPs{
font-size:14px;
border: 1px solid white;
text-align:justify;
}
